<document>
  <productTemplate>
    <banner>
      <infoList>
        <info>
          <header>
            <title>Director</title>
          </header>
          <text>{{ director }}</text>
        </info>
        <info>
          <header>
            <title>Writers</title>
          </header>
          {{#each writers}}
            <text>{{this}}</text>
          {{/each}}
        </info>
        <info>
          <header>
            <title>Guest Stars</title>
          </header>
          {{#each guestStars}}
            <text>{{this}}</text>
          {{/each}}
        </info>
      </infoList>
      <stack>
        <title>{{ episodeName }}</title>
        <row>
          <ratingBadge value="{{ siteRating }}"></ratingBadge>
          <text>{{ firstAired }}</text>
          <text>Season {{ season }}</text>
          <text>Episode {{ episode }}</text>
          <badge src="resource://{{ contentRating }}" style="tv-tint-color: rgb(255,255,255);" />
        </row>
        <description handlesOverflow="true">{{ description }}</description>
        <row>
          <buttonLockup>
            <badge src="resource://button-preview" />
            <title>Play</title>
          </buttonLockup>
          <buttonLockup data-href-page="home">
            <badge src="resource://button-add" />
            <title>Random Episode</title>
          </buttonLockup>
          <buttonLockup>
            <badge src="resource://button-add" />
            <title>Choose Episode</title>
          </buttonLockup>
          <buttonLockup>
            <badge src="resource://button-more" />
            <title>{{ quality }}</title>
          </buttonLockup>
        </row>
      </stack>
      <heroImg src="{{ image }}" />
    </banner>
  </productTemplate>
</document>
